@keyframes idle {
  from{
    right: 0%;
  }
  to{
    right: 1%;
  }
}
.arrow{
  z-index: 2;
  position: absolute;
  top:52%;
  right: 0px;
  opacity: 0.8;
  animation-name: idle;
  animation-duration: .5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
